<section class="text-center mt-5">
  <h1 class="display-4 fw-bold"> <%= @list.name %></h1>
</section>

<section class="py-1">
  <div class="container my-5">
      <div class="row justify-content-center gap-4 column-gap-4">
        <% @list.bookmarks.each do |bookmark| %>
          <div class="card col-md-4 col-sm-12 my-2" style="width: 18rem;">
            <%= image_tag bookmark.movie.poster_url, class: "img-fluid my-3 mx-auto ", style: "max-width: 200px;" %>
            <h5 class="card-title mb-3"> <%= bookmark.movie.title %> </h5>
            <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-outline-dark mb-2" %>
          </div>
        <% end %>
    </div>
  </div>
</section>

<div>
  <%= link_to "Add Bookmark", new_list_bookmark_path(@list) %>
</div>

<div>
  <%= link_to "Delete List", list_path(@list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
</div>

<div>
  <%= link_to "Back to All Lists", lists_path %>
</div>
