<h1> <%= @list.name %></h1>

<div>
  <h2>Movies in this list:</h2>
  <% @list.bookmarks.each do |bookmark| %>
    <p> <%= bookmark.movie.title %> </p>
    <p> <%= bookmark.comment %> </p>
    <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
    <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <% end %>
</div>

<div>
  <%= link_to "Add Bookmark", new_list_bookmark_path(@list) %>
</div>

<div>
  <%= link_to "Back to All Lists", lists_path %>
</div>
